.Navbar .booking{
    padding: 1rem 2rem;
    background-color: #e65c00;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    min-width: 115px;
}
.Navbar .booking:hover{
    background-color: #d74b14;
}
  @media only screen and (max-width: 490px) {
    .Navbar .booking{
        display: none;
    }
  }